<html>
  <!--
    Descripcion:
    Este ejemplo muestra varias estiquetas usadas en conjunto
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="author" content="Equipo de diseñadores web">
    <meta name="description" content="Aplicación de ejemplos de HTML">
  </head>
  <body><!--Este es solamente el cuerpo del código-->
    <h1>Este es un título tamaño h1</h1>
    <!--Voy a comenzar a separar el texto en párrafos.-->
    <p>Aquí coloqué &amp;ltp&amp;gt para indicar que comienza un nuevo 
      párrafo con un espacio de separación 
      con respecto al anterior.
    </p>
    <p>Este nuevo párrafo tiene ciertas
      <em>palabras</em> remarcadas de 
      <strong>diferentes maneras</strong>.
    </p>
    <h3>Y finalmente coloco otro título, pero en
    tamaño h3.</h3>
  </body><!--Aquí termina el cuerpo-->
</html>