<html>
  <!--
    Descripcion:
    La etiqueta <img> permite inclustar una imagen en la página.
    Posee varios atributos
    src: la ruta a la imagen
    alt: texto alternativo en caso de error
    title: descripción de la imagen
    
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="description" content="Aplicación de ejemplos de HTML">
  </head>
  <body>
    <!--imagen dentro de nuestro sitio-->
    <img 
      src="../assets/logoUNQ.png" 
      height="100px" 
      width="100px"/><br/>
    <!--imagen no encontrada, se muestra el texto alternativo-->
    <img 
      src="../assets/imagen-inexistente.png" 
      alt="descripcion de la imagen" 
      height="100px" 
      width="100px"/><br/>
  </body>
</html>