<html>
  <!--
    Descripcion:
    Las etiquetas <H1>,<H2>...<H6> proveen un estilo predeterminado al texto.
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="author" content="Equipo de diseñadores web">
    <meta name="description" content="Aplicación de ejemplos de HTML">
  </head>
  <body>
    <h1>Encabezado h1</h1> <br/>
    <h2>Encabezado h2</h2> <br/>
    <h3>Encabezado h3</h3> <br/>
    <h4>Encabezado h4</h4> <br/>
    <h5>Encabezado h5</h5> <br/>
    <h6>Encabezado h6</h6> <br/>
  </body>
</html>