<html>
  <!--
    Descripcion:
    Una imagen puede ser incrustada dentro de un enlace
    
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="description" content="Aplicación de ejemplos de HTML">
  </head>
  <body>
    <!--enlace con imagen-->
    <a href="http://unq.edu.ar" target="_blank">
    <img 
      src="../assets/logoUNQ.png" 
      height="100px" 
      width="100px"/><br/>
    </a>
  </body>
</html>