.intro { font-family:sans-serif; text-align:center; }
.grid { margin:1em auto; border-collapse:collapse }

.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
}
.grid td.clicked_bla {
    background-color:black;
}
.grid td.clicked_red {
    background-color:red;
}
.grid td.clicked_gre {
    background-color:green;
}
