<html>
  <!--
    Descripcion:
    CSS provee un conjunto de propiedades para
      especificar de que forma los elementos
      ocupan el espacio de la página. 
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <style>
      .externo{
        background-color: red;
        width: 80%;
        height: 260px;
        padding: 20px 10%;
      }
      .medio{
        background-color: green;
        width: 100%;
        height: 260px;
        display: inline-block;
      }
      .interno{
        background-color: blue;
        width: 70%;
        height: 220px;
        margin: 20px 15%;
      }
    </style>
  </head>
  <body>
    <div class="externo">
      <div class="medio">
        <div class="interno">
        </div>
      </div>
    </div>
  </body>
</html>

