<html>
  <!--
    Descripcion:
    La etiqueta <title> sirve para especificar el 
      texto que mostrará el navegador en la barra superior.
    El usuario no visualiza los contenidos de la misma.
    ##############################################
    # Se recomienda abrir el ejemplo en          #
    # una nueva pestaña para ver los resultados. #
    ##############################################
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
  </head>
  <body>
    <p>Contenido de la página<p>
  </body>
</html>