<html>
  <!--
    Descripcion:
    Algunas etiquetas permiten darle formate al texto dentro de la página.
    La etiqueta <br/> sirve para generar un salto de linea.
      <br/> termina con una barra 'slash' porque es una etiqueta cerrada 
      'self closing tag'
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="author" content="Equipo de diseñadores web">
    <meta name="description" content="Aplicación de ejemplos de HTML">
  </head>
  <body>
    <B>Negrita (Bold)</B> <br/>
    <I>Cursiva (Italic)</I> <br/>
    <EM>énfasis (Emphasis)</EM> <br/>
    <STRONG>Gran énfasis (Strong)</STRONG> <br/>
    <U>Subrayado (Underline)</U> <br/>
  </body>
</html>