<html>
  <!--
    Descripcion:
    La etiqueta <font> permite otorgar ciertos atributos a una parte del texto.
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="author" content="Equipo de diseñadores web">
    <meta name="description" content="Aplicación de ejemplos de HTML">
  </head>
  <body>
    <FONT SIZE="5px">Texto de 5px</FONT> <br/>
    <FONT SIZE="10px">Texto de 10px</FONT> <br/>
    <FONT COLOR="red">Texto en rojo</FONT> <br/>
  </body>
</html>