<html>
  <!--
    Descripcion:
    La etiqueta <meta> sirve para especificar propiedades del documento.
    Estas son útiles para el navegador e incluso para aplicaciones externas
      como motores de busqueda.
    El usuario no visualiza los contenidos de la misma.
  -->
  <head>
    <script>"texto que no se visualiza en la página.";</script>
    <script>"texto que tampoco se visualiza en la página.";</script>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
  </head>
  <body>
    <p>Este texto si se puede ver<p>
  </body>
</html>