<html>
  <!--
    Descripcion:
    El attributo 'http-equiv' de la etiqueta <title> 
      permite especificar acciones que el navegador puede procesar.
    La acción Refresh actualiza la página cada una determinada 
      cantidad de segundos.
    Se recomienda abrir el ejemplo en una nueva pestaña
      para poder vidualizar el texto
  -->
  <head>
    <title>Elementos de Programación y Lógica</title>
    <meta name="keywords" content="UNQ, Unqui, informatica, programación">
    <meta name="author" content="Equipo de diseñadores web">
    <meta name="description" content="Aplicación de ejemplos de HTML">
    <meta http-equiv="Refresh" content="2">
  </head>
  <body>
    <p>Contenido de la página<p>
  </body>
</html>