<html>
  <!--
    Descripcion:
    La etiqueta <title> sirve para especificar el 
      texto que mostrará el navegador en la barra superior.
    El usuario no visualiza los contenidos de la misma.
    Se recomienda abrir el ejemplo en una nueva pestaña
      para poder vidualizar el texto
  -->
  <head>
    <script>"texto que no se visualiza en la página.";</script>
    <script>"texto que tampoco se visualiza en la página.";</script>
    <title>Elementos de Programación y Lógica</title>
  </head>
  <body>
    <p>Este texto si se puede ver<p>
  </body>
</html>